<h1> welcome on ruby on rails</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquid assumenda at, dignissimos ea fugiat fugit laboriosam odio provident quibusdam quidem quo ratione reiciendis repellendus tenetur totam ut veritatis?
</p>